<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/salai/Documents/COURSES/TURING TESTING-PRUEBAS AUTOMATIZADAS JAVA CON SELENIUM/SELENIUM/CODIGOS/SwabLabsFunctionalQA"><classes><class name="com.saucedemo.test.LoginTest"><methods><include name="loginExitosoPOM"/></methods></class></classes></test></suite>